<h1>Editing Mood Type</h1>

<%= render 'form', mood_type: @mood_type %>

<%= link_to 'Mostrar', @mood_type, class: "btn btn-primary btn-sm" %> |
<%= link_to 'Voltar', mood_types_path, class: "btn btn-primary btn-sm" %>
